<% if @n %>
  <form action="/<%= @n.id %>" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
    <textarea name="content"> <%=@n.content %></textarea>
    <input type="checkbox" name="done" <%="checked" if @n.done %>>
    <input type="submit">
    <div id="editajaxTarget">
      <div id="indicate<%=@n.id%>">
         <% if @n.flag == false %>
            <button id="flag" data-id="<%= @n.id %>">flag</button>
        <% else %>
            <img id = 'priority' data-id="<%= @n.id %>" src='/images/important.jpg'>
        <% end %>
      </div>
    </div>
  </form>
<% else %>
  <p>Todo not found.</p>
<% end %>